.barra{
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    background-color: rgb(240, 179, 240);
    height: 8vh;
    align-items: center;
    padding: 2vh;

}